body {
    font-family: arial;
    font-size: 11px;
}

.container {
    margin: 20px;
    border: 1px solid;
    height: 500px;
    width : 960px;
    overflow: hidden;
    position: relative;
}

table {
    border-collapse: collapse;
    position: absolute;
    overflow: hidden;
}

thead {
    position: absolute;
    top: 0;
}

th {
    background: #00f;
    color: #fff;
}

.portal {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 26px;
}

.scroll-sizer {
    position: absolute;
}

th .data,
td .data { 
    height: 26px;
    line-height: 26px;
    margin-right: 5px;
    padding: 0 3px 0 11px;
    overflow: hidden; 
    text-align: left;
    text-overflow: ellipsis;
}

.data span {
    white-space: nowrap;
}

tr.odd {
    background: #eee;
}

tr.active {
    background : #0ff;
}

#title_test { 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px; 
}

