.container {
    margin: 20px;
    border: 1px solid;
    height: 500px;
    width : 960px;
    overflow: hidden;
    position: relative;
}

table {
    border-collapse: collapse;
    position: absolute;
    overflow: hidden;
}

thead {
    position: absolute;
    top: 0;
}

tbody {
    height: 474px;
    overflow: auto;
    position: absolute;
    top: 26px;
    width: 960px;
}

th {
    background: #00f;
    color: #fff;
}

.scroll-sizer {
    height: 5000px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5000px;
}

th .data,
td .data { 
    height: 24px;
    padding: 0 5px;
    overflow: hidden; 
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr.odd {
    background: #eee;
}

.col0 .data { width: 200px; }
.col1 .data { width: 250px; }
.col2 .data { width: 200px; }
.col3 .data { width: 250px; }
.col4 .data { width: 200px; }
.col5 .data { width: 250px; }
.col6 .data { width: 200px; }
.col7 .data { width: 250px; }
.col8 .data { width: 200px; }
.col9 .data { width: 250px; }
.col10 .data { width: 200px; }
.col11 .data { width: 250px; }
.col12 .data { width: 200px; }
.col13 .data { width: 250px; }
.col14 .data { width: 200px; }
.col15 .data { width: 250px; }
.col16 .data { width: 200px; }
.col17 .data { width: 250px; }
.col18 .data { width: 200px; }
.col19 .data { width: 250px; }
.col20 .data { width: 200px; }
.col21 .data { width: 200px; }
.col22 .data { width: 200px; }
.col23 .data { width: 200px; }
.col24 .data { width: 200px; }
.col25 .data { width: 200px; }
.col26 .data { width: 200px; }
.col27 .data { width: 200px; }
.col28 .data { width: 200px; }
.col29 .data { width: 200px; }
.col30 .data { width: 200px; }
.col31 .data { width: 200px; }
.col32 .data { width: 200px; }
.col33 .data { width: 200px; }
.col34 .data { width: 200px; }
.col35 .data { width: 200px; }
.col36 .data { width: 200px; }
.col37 .data { width: 200px; }
.col38 .data { width: 200px; }
.col39 .data { width: 200px; }

#title_test { 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px; 
}

