.data-grid {
    margin: 20px;
    border: 1px solid;
    height: 500px;
    width : 960px;
    overflow: hidden;
    position: relative;
}

    .data-grid table {
        border-collapse: collapse;
        position: absolute;
        overflow: hidden;
    }

    .data-grid thead {
        position: absolute;
        top: 0;
    }

    .data-grid tr.odd {
        background: #eee;
    }

    .data-grid tr.active {
        background : #0ff;
    }

    .data-grid th,
    .data-grid td {
        padding: 0;
        vertical-align: middle;
    }

    .data-grid th {
        background: #00f;
        color: #fff;
    }

        .data-grid th > .cell > .data,
        .data-grid td > .data { 
            height: 26px;
            line-height: 26px;
            margin-right: 5px;
            padding: 0 3px 0 11px;
            overflow: hidden; 
            text-align: left;
            text-overflow: ellipsis;
        }

            .data-grid th > .cell > .data > span,
            .data-grid td > .data > span {
                white-space: nowrap;
            }

    .data-grid .portal {
        bottom: 0;
        left: 0;
        overflow: auto;
        position: absolute;
        right: 0;
        top: 26px;
    }

    .data-grid .scroll-sizer {
        position: absolute;
    }

